html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F2F3F5;
    padding: 15px;
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form_add {
    padding-top: 20px;
    padding-right: 30px;
}

#dialog-edit {
    padding-top: 20px;
    padding-right: 30px;
}